.contact {
    align-items: center;
    justify-content: center;
}
.contact-stuff {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.back-home img {
    width: 4%;
    height: 4%;
    margin: 10px 10px 0 10px;
    cursor: pointer;
}
