.home {
    width: 98.5%;
    height: 100%;
    justify-content: center;
    margin: 0 auto;
}
h1 {
    font-family: "Shadows Into Light Two", cursive;
    font-weight: 800;
    font-size: 80px;
    color: rgb(26, 48, 14);
    text-align: center;
    background-color: seagreen;
    margin: 0;
    padding: 20px;
    text-shadow: 0 0 20px rgb(255, 255, 255);
}
.home-container {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    gap: 10px;
}
.leftside {
    display: flex;
    flex-direction: column;
    width: 25%;
    display: flex;
    height: auto;
    background-color: rgb(88, 192, 33);
    text-align: center;
}
.centreside{
    width: 60%;
    height: auto;
    background-color: rgb(159, 211, 131);
}
.rightside {
    display: flex;
    flex-direction: column;
    width: 15%;
    height: auto;
    background-color: rgb(121, 189, 85);
}

/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
.home-container-2 {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    gap: 10px;
}
.leftside-2 {
    display: flex;
    flex-direction: column;
    width: 40%;
    height: 100vh;
    background-color: rgb(88, 192, 33);
}

.rightside-2 {
    display: flex;
    flex-direction: column;
    width: 60%;
    height: 100vh;
    background-color: rgb(137, 209, 92);
}
h2{
    font-family: "Shadows Into Light Two", cursive;
    font-size: 40px;
    color: rgb(39, 48, 34);
    text-align: center;
    margin: 0;
    padding: 10px 0 0 0;
}
p{
    font-family: "Raleway", sans-serif;
    font-size: 17px;
    color: rgb(39, 48, 34);
    text-align: justify;
    padding: 10px;
    line-height: 1.1;
    margin: 0;
}
.centreside img{
    width: 350px;
    float: left;
    padding: 10px 10px 0 10px;
}
.centreside p{
    padding: 10px;
     }